{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Cadastro de Produtos | {{ block.super }}
{% endblock titulo %}

{% block row %}
<div class="col-md-8">
    <h1>Faça o Cadastro do Produto</h1>
    {% if menssagem %}
    {{ menssagem }}
    {% endif %}
    <form action="" method="post" accept-charset="utf-8" enctype="multipart/data-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nome">Nome do Produto</label>
            {{ produto_form.nome|add_class:"form-control"|attr:"required:required" }}
        </div>
        <div class="form-group">
            <label for="id_referencia">Referência</label>
            {{ produto_form.referencia|add_class:"form-control"|attr:"required:required" }}
        </div>
        <div class="form-group">
            <label for="id_quantidade">Quantidade de Produtos</label>
            {{ produto_form.quantidade|add_class:"form-control"|attr:"required:required" }}
        </div>
        <div class="form-group">
            <label for="id_referencia">Categoria</label>
            {{ produto_form.categoria|add_class:"form-control"|attr:"required:required" }}
        </div>
        <div class="form-group">
            <label for="id_referencia">Preço</label>
            {{ produto_form.preco|add_class:"form-control"|attr:"required:required" }}
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock row %}